<!--
Variables:
loginLink
-->

<html>
  <body>
    <center><span style="color:red"><%= locals.isTestEmail ? isTestEmail : '' %></span><br/></center>
    <p>Welcome to Ownerific! Starting today, we are happy to inform you we are on your side on the journey of making homeownership dreams come true. We're thrilled to have you on board. With our easy-to-use app, pathways to homeownership will be simpler and more attainable than ever. Register today and start leveraging Ownerific's unique financial benefit. Partner with our real estate experts to find homes, create personalized home financing solutions, enjoy tailored tips to save money, and access an array of resources dedicated to current and prospective homeowners. Embrace the joy of homeownership, one click at a time. Let's start accomplishing homeownership goals today.</p>
    <a href="<%= locals.loginLink %>" class="btn">Onboard your account.</a>
    <p>Your pre-generated password is <b><%= locals.password %></b>. Once you log in, you will be prompted to change it.</p>
  </body>
</html>
