<!--
Variables:
emailConfirmLink
-->

<html>

<body>
  <p>Hy <%= locals.firstName %>
      <%= locals.lastName %> You have been invited to ownerific, please confirm your email by clicking on following
        link,</p>
  <a href="<%= locals.emailConfirmLink %>" class="btn">Confirm your email.</a>
  <p>Your pre-generated password is <b>
      <%= locals.password %>
    </b></p>
</body>

</html>